.login {

}

.login-form {

}

.main {

}

.hidden {
    opacity: 0;
}

.top {
    display: flex;
    flex-direction: column;
}
.clock {
    align-self: center;
}

.etc {
    display: flex;
    justify-content: space-around;
}

.weather{

}

.geolocation {

}

.middle {
    display: flex;
    flex-direction: column;
}

.todo-title {
    align-self: center;
}

.todo-input {
    width: 400px;
    height: 25px;
}
.todo-list {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {

}

.image {

}
